<ion-view view-title="Aloha Resort" hide-back-button="true">
    <ion-content>
        <div class="list card">
            <a href="#/reservation" class="item item-icon-left">
                <i class="icon ion-home"></i>
                See the reservation
            </a>
            <a href="#/weather" class="item item-icon-left">
                 <i class="icon ion-wifi"></i>
                See the weather
            </a>
            <a href="#/restaurants" class="item item-icon-left">
                <i class="icon ion-card"></i>
                See the restaurants
            </a>
        </div>
    </ion-content>
</ion-view>