<ion-view view-title="Bem vindo a Agendinha" id="tour-view">
    <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/atividade" nav-clear>Start</a>
    </ion-nav-buttons>
    
    <ion-slide-box>
        <ion-slide>
            <img ng-src="../img/teste.jpg" alt="Description" />
        </ion-slide>
        <ion-slide>
            <img ng-src="../img/teste.jpg" alt="Description" />
        </ion-slide>
        <ion-slide>
            <img ng-src="../img/teste.jpg" alt="Description" />
        </ion-slide>
    </ion-slide-box>
    </ion-view>
  </ion-view>