<ion-view view-title="Cadastrar Aluno">
    <ion-content>
    <form ng-submit="salva()">
      <div class="list list-inset">
          <label class="item item-input">
            <input type="text" id="titulo" 
		name="titulo" ng-model="atividade.titulo" placeholder="Titulo">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="atividade.atividade_classe" id="atividade_classe" 
			placeholder="Atividade Classe" name="atividade_classe" >
          </label>
          <label class="item item-input">
            <input type="text" ng-model="atividade.atividade_casa" id="atividade_casa" 
			placeholder="Atividade Casa" name="atividade_casa" >
          </label>
          <label class="item item-input">
            <input type="text" ng-model="atividade.data" id="data" 
			placeholder="Data" name="data" >
          </label>
      <label class="item item-input">
            <input type="text" ng-model="atividade.resumo" id="resumo" 
			placeholder="Resumo" name="resumo" >
          </label>
          <button type="submit" class="button button-positive">
                  Cadastrar
          </button>
    </div>
        
        
    </form>
        
    </ion-content>
</ion-view>